This is going to be the Jupyter Notebook for the IBM Dataset

In [1]:
import os
import tarfile
import urllib.request
import pandas as pd

In [5]:
load_ibm_data = pd.read_csv("C:/Users/alt98/Desktop/Machine Learning Project/Employee_Retention/Dataset - IBM.csv")

In [10]:
ibm_data = load_ibm_data.copy()
#make sure it works
ibm_data.columns

Index(['Age', 'Attrition', 'BusinessTravel', 'DailyRate', 'Department',
       'DistanceFromHome', 'Education', 'EducationField', 'EmployeeCount',
       'EmployeeNumber', 'EnvironmentSatisfaction', 'Gender', 'HourlyRate',
       'JobInvolvement', 'JobLevel', 'JobRole', 'JobSatisfaction',
       'MaritalStatus', 'MonthlyIncome', 'MonthlyRate', 'NumCompaniesWorked',
       'Over18', 'OverTime', 'PercentSalaryHike', 'PerformanceRating',
       'RelationshipSatisfaction', 'StandardHours', 'StockOptionLevel',
       'TotalWorkingYears', 'TrainingTimesLastYear', 'WorkLifeBalance',
       'YearsAtCompany', 'YearsInCurrentRole', 'YearsSinceLastPromotion',
       'YearsWithCurrManager'],
      dtype='object')

In [11]:
#change titles to lowercase
ibm_data.columns = ibm_data.columns.str.lower()

In [14]:
#let's see what kind of data we have here
ibm_data.info()
# o null values in the dataset, so we can proceed with the analysis

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 35 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   age                       1470 non-null   int64
 1   attrition                 1470 non-null   object
 2   businesstravel            1470 non-null   object
 3   dailyrate                 1470 non-null   int64
 4   department                1470 non-null   object
 5   distancefromhome          1470 non-null   int64
 6   education                 1470 non-null   int64
 7   educationfield            1470 non-null   object
 8   employeecount             1470 non-null   int64
 9   employeenumber            1470 non-null   int64
 10  environmentsatisfaction   1470 non-null   int64
 11  gender                    1470 non-null   object
 12  hourlyrate                1470 non-null   int64
 13  jobinvolvement            1470 non-null   int64
 14  joblevel                  1470 non-null   int64
 15  jobrole                   1470 non-null   object
 16  jobsatisfaction           1470 non-null   int64
 17  maritalstatus             1470 non-null   object
 18  monthlyincome             1470 non-null   int64
 19  monthlyrate               1470 non-null   int64
 20  numcompaniesworked        1470 non-null   int64
 21  over18                    1470 non-null   object
 22  overtime                  1470 non-null   object
 23  percentsalaryhike         1470 non-null   int64
 24  performancerating         1470 non-null   int64
 25  relationshipsatisfaction  1470 non-null   int64
 26  standardhours             1470 non-null   int64
 27  stockoptionlevel          1470 non-null   int64
 28  totalworkingyears         1470 non-null   int64
 29  trainingtimeslastyear     1470 non-null   int64
 30  worklifebalance           1470 non-null   int64
 31  yearsatcompany            1470 non-null   int64
 32  yearsincurrentrole        1470 non-null   int64
 33  yearssincelastpromotion   1470 non-null   int64
 34  yearswithcurrmanager      1470 non-null   int64
dtypes: int64(26), object(9)
memory usage: 402.1+ KB

In [15]:
# Get value counts for all object-type columns
object_columns = ibm_data.select_dtypes(include='object')  # Select object-type columns
value_counts = {col: object_columns[col].value_counts() for col in object_columns.columns}

# Print the value counts for each column
for col, counts in value_counts.items():
    print(f"Value counts for column '{col}':")
    print(counts)
    print()

Value counts for column 'attrition':
attrition
No     1233
Yes     237
Name: count, dtype: int64

Value counts for column 'businesstravel':
businesstravel
Travel_Rarely        1043
Travel_Frequently     277
Non-Travel            150
Name: count, dtype: int64

Value counts for column 'department':
department
Research & Development    961
Sales                     446
Human Resources            63
Name: count, dtype: int64

Value counts for column 'educationfield':
educationfield
Life Sciences       606
Medical             464
Marketing           159
Technical Degree    132
Other                82
Human Resources      27
Name: count, dtype: int64

Value counts for column 'gender':
gender
Male      882
Female    588
Name: count, dtype: int64

Value counts for column 'jobrole':
jobrole
Sales Executive              326
Research Scientist           292
Laboratory Technician        259
Manufacturing Director       145
Healthcare Representative    131
Manager                      102
Sales Representative          83
Research Director             80
Human Resources               52
Name: count, dtype: int64

Value counts for column 'maritalstatus':
maritalstatus
Married     673
Single      470
Divorced    327
Name: count, dtype: int64

Value counts for column 'over18':
over18
Y    1470
Name: count, dtype: int64

Value counts for column 'overtime':
overtime
No     1054
Yes     416
Name: count, dtype: int64

In [17]:
#drop columns that are not needed for the analysis because all rows have the same value. 
ibm_data.drop(columns=['employeecount', 'standardhours', 'over18'], inplace=True)